{
  "ct_zbx_anlage_ein": {
    "type": "sender",
    "key": "tgo.test",
    "value": 1,
    "name": "host.zbx.host.test"
  },
  "ct_zbx_macro_update": {
    "type": "api",
    "hostmacroid": 844,
    "value": "public"
  }
}
